body{
  font-family: $font-montserrat;
}

.notice,
.alert{
  position: fixed;
  color: $red-heart;
}

.doctor{
  font-size: smaller;
  p{
    line-height: 0.9;
  }
  &__title{
    padding-bottom: 0px;
    font-size: medium;
  }
  &__specialty{
    color: grey;
    font-weight: 600;
    text-transform: capitalize;
  }
  &__docname{
    color: lightgrey;
  }
  &__location{
    text-transform: capitalize;
    color: lightgrey;
  }
  &__price_exp_likes{
    font-size: smaller;
    font-weight: 600;
    &--likes{
      p{
        position: relative;
        span{
          position: absolute;
          top: -5px;
          right: 22px;
          color: red;
          font-size: large;
        }
      }
    }
  }
  &__btn-call{
    color: $green-text;
    border: 1px solid $green-text;
  }
  &__btn-book{
    color: white;
    background: linear-gradient(90deg, $green-text 0%, $dark-background 100%);
    border:$light-background;
  }
  &__view_profile{
    color: $green-text;
    text-transform: uppercase;
    font-size: smaller;
    font-weight: 600;
  }
}
.specialty{
  &__button{
    background-color: $light-background;
    color: $green-text;
    font-size: smaller;
    font-weight: 600;
    padding: 1rem 0px;
  }
}
.specialtiesList{
  &__instructions{
    font-size: smaller;
  }
}
.nav-component{
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color:$light-background;
  &__button{
    color: $green-text;
    background: none;
    border: none;
  }
}

.item{
  flex: 1;
}

.profile{
  &__logout,
  &__email{
    margin: 1rem auto;

    p{
      margin-bottom: 0;
    }
  }

}
