@import '~bootstrap/scss/bootstrap.scss';
@import './variables';

body{
  background-color: $light-background;
}

.devise__form{
  input{
    border-radius: 16px;
    width: 75%;
    border: 1px solid $gray-lines;
  }
}

.actions{
  input{
    margin-top: 2rem;
    background: linear-gradient(90deg, $green-text 0%, $dark-background 100%);
    border:$light-background;
  }
}

