@import './variables';

.modal{
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  &__box{
    background-color: white;
    width: 350px;
    padding: 1rem;
    margin: auto;
    border: 1px solid black;
  }
  &__button{
    color: white;
    background: linear-gradient(90deg, $green-text 0%, $dark-background 100%);
    border:$light-background;
  }
}