// COLOR VARIABLES

$light-background: #d9fff7;
$dark-background: #006159;
$green-text: #00bba9;
$green-success: #00cf6d;
$gray-text: #6e6e6e;
$gray-lines: #d6d6d6;
$red-heart: #f54d53;

// FONTS

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$font-montserrat: 'Montserrat', sans-serif;

