<%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>

<nav class="navbar navbar-expand-sm navbar-light">
	<a class="navbar-brand">Doctor's</a>
	<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
			aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavId">
		<ul class="navbar-nav ml-auto">
		 	<% if current_user %>
		 		<li class="nav-item px-2">
					<a class="nav-link">
						hello, <%= current_user.email %>
					</a>
		 		</li>
			<%end%>
			<li class="nav-item">
				<%=
					link_to_if(current_user.nil?, "Login", sign_in_path, class: 'btn btn-primary') do
						link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger')
					end
				%>
			</li>
		</ul>
	</div>
</nav>
	
</section>
<div id='r-container'>
</div>