<div class="container pt-4">
  <div class="row justify-content-center">
    <div class="col-6 text-center">
      <%= image_tag "medico.png" %>
    </div>
  </div>
  <div class="text-center">
    <h3>
      Welcome
    </h3>
    <p>
      <%= locals[:message] %>
      to Continue
    </p>
  </div>
</div>